.projects-line {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070707;
}
.projects-line .projects_line {
    width: 50%;
    height: 8px;
    background-color: #C34600;
}
@media(max-width: 900px) {
    .projects-line .projects_line {
        width: 40%;
        height: 5px;
    }
}
@media(max-width: 700px) {
    .projects-line .projects_line {
        width: 40%;
        height: 2px;
    }
}