@media(max-width: 730px) {
    .footer {
        flex-wrap: nowrap;
    }.contents p {
        font-size: 10px;
    }
    .contents p svg{
        width: 7px;
    }
 }
 @media(max-width: 500px) {
    .contents p {
        font-size: 8px;
        padding: 4px;
    }
    .contents p svg {
        width: 8px;
    }
    .line {
        height: 1vh;
    }
    .footer {
        height: 14vh;
    }
}